Curator/obj/Curator.csproj.nuget.cache
Curator/obj/Curator.csproj.nuget.dgspec.json
Curator/obj/Curator.csproj.nuget.g.props
Curator/obj/Curator.csproj.nuget.g.targets
Curator/obj/project.assets.json
Curator/bin/Debug/netcoreapp2.2/Curator.deps.json
Curator/bin/Debug/netcoreapp2.2/Curator.dll
Curator/bin/Debug/netcoreapp2.2/Curator.pdb
Curator/bin/Debug/netcoreapp2.2/Curator.runtimeconfig.dev.json
Curator/bin/Debug/netcoreapp2.2/Curator.runtimeconfig.json
Curator/bin/Debug/netcoreapp2.2/publish/curator.db
Curator/bin/Debug/netcoreapp2.2/publish/Curator.deps.json
Curator/bin/Debug/netcoreapp2.2/publish/Curator.dll
Curator/bin/Debug/netcoreapp2.2/publish/Curator.pdb
Curator/bin/Debug/netcoreapp2.2/publish/Curator.runtimeconfig.json
Curator/bin/Debug/netcoreapp2.2/publish/McMaster.Extensions.CommandLineUtils.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Data.Sqlite.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.DotNet.PlatformAbstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.Design.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.Relational.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Caching.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Caching.Memory.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.Binder.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Configuration.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.DependencyInjection.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.DependencyModel.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Logging.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Options.dll
Curator/bin/Debug/netcoreapp2.2/publish/Microsoft.Extensions.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/publish/Newtonsoft.Json.dll
Curator/bin/Debug/netcoreapp2.2/publish/Remotion.Linq.dll
Curator/bin/Debug/netcoreapp2.2/publish/SQLitePCLRaw.batteries_green.dll
Curator/bin/Debug/netcoreapp2.2/publish/SQLitePCLRaw.batteries_v2.dll
Curator/bin/Debug/netcoreapp2.2/publish/SQLitePCLRaw.core.dll
Curator/bin/Debug/netcoreapp2.2/publish/SQLitePCLRaw.provider.e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/publish/System.Interactive.Async.dll
Curator/bin/Debug/netcoreapp2.2/publish/System.Runtime.CompilerServices.Unsafe.dll
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/alpine-x64/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-arm/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-arm64/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-armel/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-x64/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/linux-x86/native/libe_sqlite3.so
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/win-x64/native/e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/win-x86/native/e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/publish/runtimes/win8-arm/native/e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.deps.json
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.exe
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.pdb
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.runtimeconfig.dev.json
Curator/bin/Debug/netcoreapp2.2/win-x64/Curator.runtimeconfig.json
Curator/bin/Debug/netcoreapp2.2/win-x64/hostfxr.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/hostpolicy.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-console-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-datetime-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-debug-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-errorhandling-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-file-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-file-l1-2-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-file-l2-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-handle-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-heap-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-interlocked-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-libraryloader-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-localization-l1-2-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-memory-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-namedpipe-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-processenvironment-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-processthreads-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-processthreads-l1-1-1.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-profile-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-rtlsupport-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-string-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-synch-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-synch-l1-2-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-sysinfo-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-timezone-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-core-util-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-conio-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-convert-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-environment-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-filesystem-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-heap-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-locale-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-math-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-multibyte-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-private-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-process-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-runtime-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-stdio-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-string-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-time-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/api-ms-win-crt-utility-l1-1-0.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/clrcompression.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/clretwrc.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/clrjit.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/coreclr.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Curator.deps.json
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Curator.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Curator.exe
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Curator.pdb
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Curator.runtimeconfig.json
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/dbgshim.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/hostfxr.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/hostpolicy.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/McMaster.Extensions.CommandLineUtils.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.CSharp.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Data.Sqlite.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.DiaSymReader.Native.amd64.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.DotNet.PlatformAbstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.EntityFrameworkCore.Design.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.EntityFrameworkCore.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.EntityFrameworkCore.Relational.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Caching.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Caching.Memory.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Configuration.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Configuration.Binder.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Configuration.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.DependencyInjection.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.DependencyModel.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Logging.Abstractions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Logging.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Options.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Extensions.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.VisualBasic.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Win32.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Microsoft.Win32.Registry.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscordaccore_amd64_amd64_4.6.27414.05.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscordaccore.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscordbi.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscorlib.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscorrc.debug.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/mscorrc.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/netstandard.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Newtonsoft.Json.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/Remotion.Linq.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/sos_amd64_amd64_4.6.27414.05.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/sos.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/SOS.NETCore.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/SQLitePCLRaw.batteries_green.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/SQLitePCLRaw.batteries_v2.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/SQLitePCLRaw.core.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/SQLitePCLRaw.provider.e_sqlite3.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.AppContext.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Buffers.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Collections.Concurrent.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Collections.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Collections.Immutable.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Collections.NonGeneric.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Collections.Specialized.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.Annotations.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.DataAnnotations.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.EventBasedAsync.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ComponentModel.TypeConverter.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Configuration.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Console.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Core.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Data.Common.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Data.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.Contracts.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.Debug.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.DiagnosticSource.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.FileVersionInfo.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.Process.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.StackTrace.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.TextWriterTraceListener.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.Tools.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.TraceSource.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Diagnostics.Tracing.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Drawing.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Drawing.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Dynamic.Runtime.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Globalization.Calendars.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Globalization.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Globalization.Extensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Interactive.Async.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Compression.Brotli.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Compression.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Compression.FileSystem.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Compression.ZipFile.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.FileSystem.AccessControl.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.FileSystem.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.FileSystem.DriveInfo.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.FileSystem.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.FileSystem.Watcher.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.IsolatedStorage.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.MemoryMappedFiles.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Pipes.AccessControl.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.Pipes.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.IO.UnmanagedMemoryStream.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Linq.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Linq.Expressions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Linq.Parallel.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Linq.Queryable.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Memory.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Http.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.HttpListener.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Mail.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.NameResolution.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.NetworkInformation.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Ping.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Requests.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Security.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.ServicePoint.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.Sockets.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.WebClient.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.WebHeaderCollection.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.WebProxy.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.WebSockets.Client.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Net.WebSockets.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Numerics.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Numerics.Vectors.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ObjectModel.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Private.CoreLib.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Private.DataContractSerialization.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Private.Uri.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Private.Xml.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Private.Xml.Linq.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.DispatchProxy.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Emit.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Emit.ILGeneration.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Emit.Lightweight.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Extensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Metadata.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Reflection.TypeExtensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Resources.Reader.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Resources.ResourceManager.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Resources.Writer.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.CompilerServices.Unsafe.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.CompilerServices.VisualC.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Extensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Handles.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.InteropServices.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.InteropServices.RuntimeInformation.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.InteropServices.WindowsRuntime.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Loader.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Numerics.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Serialization.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Serialization.Formatters.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Serialization.Json.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Serialization.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Runtime.Serialization.Xml.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.AccessControl.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Claims.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.Algorithms.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.Cng.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.Csp.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.Encoding.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.OpenSsl.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.Primitives.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Cryptography.X509Certificates.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Principal.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.Principal.Windows.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Security.SecureString.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ServiceModel.Web.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ServiceProcess.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Text.Encoding.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Text.Encoding.Extensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Text.RegularExpressions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Overlapped.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Tasks.Dataflow.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Tasks.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Tasks.Extensions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Tasks.Parallel.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Thread.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.ThreadPool.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Threading.Timer.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Transactions.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Transactions.Local.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.ValueTuple.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Web.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Web.HttpUtility.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Windows.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.Linq.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.ReaderWriter.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.Serialization.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.XDocument.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.XmlDocument.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.XmlSerializer.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.XPath.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/System.Xml.XPath.XDocument.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/ucrtbase.dll
Curator/bin/Debug/netcoreapp2.2/win-x64/publish/WindowsBase.dll
Curator/obj/Curator.csproj.EntityFrameworkCore.targets
Curator/obj/Debug/netcoreapp2.2/Curator.AssemblyInfo.cs
Curator/obj/Debug/netcoreapp2.2/Curator.AssemblyInfoInputs.cache
Curator/obj/Debug/netcoreapp2.2/Curator.assets.cache
Curator/obj/Debug/netcoreapp2.2/Curator.csproj.CoreCompileInputs.cache
Curator/obj/Debug/netcoreapp2.2/Curator.csproj.FileListAbsolute.txt
Curator/obj/Debug/netcoreapp2.2/Curator.csprojAssemblyReference.cache
Curator/obj/Debug/netcoreapp2.2/Curator.dll
Curator/obj/Debug/netcoreapp2.2/Curator.pdb
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.AssemblyInfo.cs
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.AssemblyInfoInputs.cache
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.assets.cache
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.csproj.CoreCompileInputs.cache
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.csproj.FileListAbsolute.txt
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.csprojAssemblyReference.cache
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.dll
Curator/obj/Debug/netcoreapp2.2/win-x64/Curator.pdb
Curator/obj/Release/netcoreapp2.2/2.2/Curator.assets.cache
Curator/obj/Release/netcoreapp2.2/2.2/Curator.csproj.FileListAbsolute.txt
Curator/obj/Release/netcoreapp2.2/2.2.202/Curator.assets.cache
Curator/obj/Release/netcoreapp2.2/2.2.202/Curator.csproj.FileListAbsolute.txt
Curator/obj/netcoreapp2.2/win-x64/host/Curator.exe
