Curator/obj/Curator.csproj.nuget.cache
Curator/obj/Curator.csproj.nuget.dgspec.json
Curator/obj/Curator.csproj.nuget.g.props
Curator/obj/Curator.csproj.nuget.g.targets
Curator/obj/project.assets.json
